<div class="layui-col-md5 layui-col-xs10 list-item">
<a href="/prod/detail/{{ item._id }}">
    <div class="imgLeft">
        <span>
            <img src="{{ item.product_image }}" alt="{{ item.product_name }}" style="width: 100%;">
        </span>
    </div>
    <div class="dataRight">
        <div class="title clear">
            <h3 class="ellipsis">
                {{ item.product_name }}
            </h3>
        </div>
        <div class="score-show2">
            <span class="gold">{{ item.price }}{{ item.price_type }}</span>
        </div>
        <p class="introduce">中国电信5元话费。</p>
    </div>
    <div class="list-bottom">
        <label>{{ item.product_type }}</label>
        <label>已售{{ item.sale_num or 0 }}件</label>
        <span class="view-count"><label></label>{{ item.view_count }}</span>
        <span class="layui-btn fr layui-btn-sm">我要兑换</span>
    </div>
</a>
</div>