{% extends 'posts_prod.html' %}
{% import '_pagination.html' as pagination %}
{% block content %}

  <div class="layui-col-md8 content detail">
    <div class="fly-panel detail-box">
      <h1 class="page-title">{{ post.product_name }}</h1>
      <div class="detail-about">
        <a class="fly-case-img" href="/prod/detail/{{ post.product_id }}">
          <img src="{{ post.product_image }}" alt="{{ post.product_name }}">
        </a>
        <div class="fly-case-info"">
        <p class="layui-elip" style="font-size: 12px;">
            <span style="color: #cc0000;">{{ post.price }}</span>币</p>
        <p>已售<a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" style=" padding:0 5px; color: #01AAED;">{{ post.sale_num or 0 }}</a>件</p>
        <button class="layui-btn layui-btn-primary fly-case-active" data-type="praise" style="padding-right: 10px">立即兑换</button>
    </div>
      </div>
      <div class="detail-body photos">
        {{ post.content }}
      </div>
    </div>

  </div>
{% endblock %}
{% block fly_use %}
  .use(['fly', 'face'], function(){
  var $ = layui.$
  ,fly = layui.fly;
  $('.detail-body').each(function(){
  var othis = $(this), html = othis.html();
  othis.html(fly.content(html));
  });
  });
{% endblock %}